[data-menu="button"] {
  display: none;
}

@media (width < 700px) {
  header nav {
    padding-inline: 0;
    padding-block: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .js [data-menu="button"] {
    margin-right: 15px;
    height: 34px;
    width: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    background: black;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: 1px solid black;
    position: relative;
    z-index: 201;
  }

  .js [data-menu="button"].ativo {
    gap: 0;
  }

  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 16px;
    background: #fff;
  }

  .js [data-menu="button"]::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 16px;
    background: #fff;
  }

  .js [data-menu="button"]::before {
    transition: all 300ms;
  }

  .js [data-menu="button"]::after {
    transition: all 300ms;
  }

  .js [data-menu="button"].ativo::before {
    transform: rotate(-45deg);
    position: absolute;
  }

  .js [data-menu="button"].ativo::after {
    transform: rotate(45deg);
    position: absolute;
  }

  .js #menu {
    display: none;
    position: absolute;
    background: #fb5;
    width: 160px;
    z-index: 200;
    top: 0;
    padding: 74px 0px 10px 0px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .js #menu.ativo {
    display: block;
  }

  .js .dropdown-menu {
    position: static;
    border: none;
    background-color: #e54;
  }

  .dropdown-menu::before {
    border: none;
  }

  [data-dropdown] {
    padding-right: 0;
  }

  [data-dropdown]::after {
    right: 15px;
  }
}
